NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW50ZWdyYWwtYWxpZW4tOC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_gYqjjKSE1IlQc8vkHsL8U9PHX1lq0Es1ANG9f9YWA6

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/